@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

/* || Css Component files */
@import url("/Components/Alert/alert.css");
@import url("/Components/Avatar/avatar.css");
@import url("/Components/Badge/badge.css");
@import url("/Components/Button/buttons.css");
@import url("/Components/Card/card.css");
@import url("/Components/Input/input.css");
@import url("/Components/Image/image.css");
@import url("/Components/List/list.css");
@import url("/Components/Navigation/navigation.css");
@import url("/Components/Modal/modal.css");
@import url("/Components/Rating/rating.css");
@import url("/Components/Toast/toast.css");
@import url("/Components/TextUtilities/textutils.css");
@import url("/Components/Grid/grid.css");
@import url("/CSS/reusedoc.css");
@import url("/CSS/snippet.css");
/* Colors */
:root {
  /* || Primary Color */
  --Primary_Color: #0ea5e9;
  --Primary_Hover_Color: #0284c7;
  --Primary_Disabled_Color: #bae6fd;
  --Primary_Color_100: #e0f2fe;

  /*  Secondary colors */
  --Secondary_Color: #6b7280;
  --Secondary_Hover_Color: #4b5563;
  --Secondary_Border_Color: #e5e7eb;

  /* Dark theme colors */
  --Body_Bg_Color: #23272f;
  --Secondary_Bg_Color: #343a46;

  /* || Text colors */

  --Color_Info_500: #3b82f6;
  --Color_Info_600: #2563eb;
  --Color_Info_200: #bae6fd;

  --Color_Success_500: #22c55e;
  --Color_Success_600: #16a34a;
  --Color_Success_200: #bbf7d0;

  --Color_Danger_500: #ef4444;
  --Color_Danger_600: #dc2626;
  --Color_Danger_200: #fecaca;

  --Color_Warn_500: #eab308;
  --Color_Warn_600: #ca8a04;
  --Color_Warn_200: #fef08a;

  --Color_Pink_500: #ec4899;

  --Color_Purple_500: #a855f7;

  --Color_Black: black;
  --Color_White: white;

  /* Font-family */
  --Lato_Font: "Lato", sans-serif;
  --Logo_Font: "Lobster Two", cursive;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Lato_Font);
}
/* || Typography */
.fs-sm {
  font-size: 10px;
}
.fs-md {
  font-size: 1rem;
}
.fs-lg {
  font-size: 1.5rem;
}
.fs-xlg {
  font-size: 1.75rem;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: var(--Color_Black);
}

/* || Imagenary */
img {
  block-size: auto;
  object-fit: cover;
}

/* || Spacing  */

/* padding */
.pd-sm {
  padding: 0.5rem;
}
.pd-md {
  padding: 1rem;
}
.pd-lg {
  padding: 1.5rem;
}
.pd-xlg {
  padding: 2rem;
}
.pd-hztl-sm {
  padding: 0 0.5rem 0 0.5rem;
}
.pd-hztl-md {
  padding: 0 1rem 0 1rem;
}
.pd-hztl-lg {
  padding: 0 1.5rem 0 1.5rem;
}
.pd-vrtl-sm {
  padding: 0.5rem 0 0.5rem 0;
}
.pd-vrtl-md {
  padding: 1rem 0 1rem 0;
}
.pd-vrtl-lg {
  padding: 1.5rem 0 1.5rem 0;
}

/* margin */
.mg-sm {
  margin: 0.5rem;
}
.mg-md {
  margin: 1rem;
}
.mg-lg {
  margin: 1.5rem;
}
.mg-xlg {
  margin: 2rem;
}
.mg-hztl-sm {
  margin: 0 0.5rem 0 0.5rem;
}
.mg-hztl-md {
  margin: 0 1rem 0 1rem;
}
.mg-hztl-lg {
  margin: 0 1.5rem 0 1.5rem;
}
.mg-hztl-xlg {
  margin: 0 2rem 0 2rem;
}
.mg-vrtl-sm {
  margin: 0.5rem 0 0.5rem 0;
}
.mg-vrtl-md {
  margin: 1rem 0 1rem 0;
}
.mg-vrtl-lg {
  margin: 1.5rem 0 1.5rem 0;
}
.mg-vrtl-xlg {
  margin: 2rem 0 2rem 0;
}
/* || Components */

button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.nav-bar {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--Primary_Disabled_Color);
}
