@import url("/global.css");

.image-container {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--Color_Secondary_100);
}
.image-responsive {
  max-width: 100%;
  height: auto;
}
.image {
  max-width: 400px;
  width: 100%;
  height: auto;
}
.image-circle {
  border-radius: 50%;
}
.image-rounded-corner {
  border-radius: 5px;
}
