<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="card.css" />
    <title>Card</title>
  </head>
  <body>
    <!-- ||  Card with shadow -->
    <div class="card card-shadow">
      <div class="card-image-container">
        <img
          class="image-responsive"
          src="/Images/lineriver.jpg"
          alt="No preview available"
        />
      </div>
      <div class="card-body">
        <h3 class="card-title">A line in the river</h3>
        <small class="not">By John Willy</small>
        <p class="card-description">
          Think twice, write it on paper and do it in actions.
        </p>
        <p class="card-sell-price">
          <span>₹325</span><span class="card-cost-price">₹650</span
          ><span class="card-discount">50%off</span>
        </p>
        <button class="card-button is-cart">
          <span> <i class="fas fa-shopping-cart im"></i>Add to Cart</span>
        </button>
      </div>

      <div class="features not">
        <a class="link-read-more" href="#">Read</a>
        <a class="link-bookmark" href="#">Bookmark</a>
        <span>
          <i class="far fa-heart"></i>
        </span>
        <span>
          <i class="fas fa-share-alt not"></i>
        </span>
        <span>
          <i class="fas fa-ellipsis-v"></i>
        </span>
      </div>
    </div>

    <!-- || Card with badge -->
    <div class="card">
      <span class="card-badge">Trending</span>
      <div class="card-image-container">
        <img
          class="image-responsive"
          src="/Images/lineriver.jpg"
          alt="No preview available"
        />
      </div>
      <div class="card-body">
        <h3 class="card-title">A line in the river</h3>
        <small class="not">By John Willy</small>
        <p class="card-description">
          Think twice, write it on paper and do it in actions.
        </p>
        <p class="card-sell-price">
          <span>₹325</span><span class="card-cost-price">₹650</span
          ><span class="card-discount">50%off</span>
        </p>
        <button class="card-button is-cart">
          <span> <i class="fas fa-shopping-cart im"></i>Add To Cart</span>
        </button>
      </div>

      <div class="features not">
        <a class="link-read-more" href="#">Read</a>
        <a class="link-bookmark" href="#">Bookmark</a>
        <span>
          <i class="far fa-heart"></i>
        </span>
        <span>
          <i class="fas fa-share-alt not"></i>
        </span>
        <span>
          <i class="fas fa-ellipsis-v"></i>
        </span>
      </div>
    </div>

    <!-- || Card with dismissal -->
    <div class="card">
      <span class="card-badge">Best Value</span>
      <span class="card-dismiss">
        <i class="fas fa-times im"></i>
      </span>
      <div class="card-image-container">
        <img
          class="image-responsive"
          src="/Images/lineriver.jpg"
          alt="No preview available"
        />
      </div>
      <div class="card-body">
        <h3 class="card-title">A line in the river</h3>
        <small class="not">By John Willy</small>
        <p class="card-description">
          Think twice, write it on paper and do it in actions.
        </p>
        <p class="card-sell-price">
          <span>₹325</span><span class="card-cost-price">₹650</span
          ><span class="card-discount">50%off</span>
        </p>
        <button class="card-button is-cart">
          <span> <i class="fas fa-shopping-cart im"></i>Add To Cart</span>
        </button>
      </div>

      <div class="features not">
        <a class="link-read-more" href="#">Read</a>
        <a class="link-bookmark" href="#">Bookmark</a>
        <span>
          <i class="far fa-heart im"></i>
        </span>
        <span>
          <i class="fas fa-share-alt not"></i>
        </span>
        <span>
          <i class="fas fa-ellipsis-v"></i>
        </span>
      </div>
    </div>

    <!-- || Card with text overlay -->
    <div class="card">
      <div class="card-overlay">
        <span class="card-badge">Best Value</span>
        <div class="card-image-container">
          <img
            class="image-responsive"
            src="/Images/lineriver.jpg"
            alt="No preview available"
          />
        </div>
        <div class="card-body">
          <h3 class="card-title">A line in the river</h3>
          <small class="not">By John Willy</small>
          <p class="card-description">
            Think twice, write it on paper and do it in actions.
          </p>
          <p class="card-sell-price">
            <span>₹325</span><span class="card-cost-price">₹650</span
            ><span class="card-discount">50%off</span>
          </p>
          <button class="card-button is-cart">
            <span> <i class="fas fa-shopping-cart im"></i>Add To Cart</span>
          </button>
        </div>

        <div class="features not">
          <a class="link-read-more" href="#">Read</a>
          <a class="link-bookmark" href="#">Bookmark</a>
          <span>
            <i class="far fa-heart"></i>
          </span>
          <span>
            <i class="fas fa-share-alt not"></i>
          </span>
          <span>
            <i class="fas fa-ellipsis-v"></i>
          </span>
        </div>
      </div>
      <div class="card-overlay-text">
        <span class="text-overlay">Currently Unavailable</span>
      </div>
    </div>

    <!-- || Horizontal card -->
    <div class="card card-horizontal">
      <div class="horizontal-image-container">
        <img
          class="horizontal-card-image"
          src="/Images/lineriver.jpg"
          alt="No preview available"
        />
      </div>
      <div class="card-body-wrapper">
        <div class="card-body">
          <h3 class="card-title">A Line in the river</h3>
          <small class="not">By John Willy</small>
          <p class="card-description">
            I think books are like people, in the sense that they’ll turn up in
            your life when you most need them.
          </p>
          <p class="card-sell-price">
            <span>₹325</span><span class="card-cost-price">₹650</span
            ><span class="card-discount">50%off</span>
          </p>
          <div class="card-button-container">
            <button class="card-button is-cart">
              <span></i>Add to Cart</span>
            </button>
            <button class="card-button is-wishlist">
              <span></i>Move to wishlist</span>
            </button>
          </div>
        </div>
      </div>

      <div class="features not">
        <a class="link-read-more" href="#">Read</a>
        <a class="link-bookmark" href="#">Bookmark</a>
        <span>
          <i class="far fa-heart"></i>
        </span>
        <span>
          <i class="fas fa-share-alt not"></i>
        </span>
        <span>
          <i class="fas fa-ellipsis-v"></i>
        </span>
      </div>
    </div>

    <!-- || Text Only cards -->
    <div class="card">
      <div class="card-image-container not">
        <img
          class="card-horizontal-image"
          src="/Images/lineriver.jpg"
          alt="No preview available"
        />
      </div>
      <div class="card-body-wrapper">
        <div class="card-body">
          <h3 class="card-title">Book</h3>
          <small class="not">By John Willy</small>
          <p class="card-description">
            I think books are like people, in the sense that they’ll turn up in
            your life when you most need them.
          </p>
          <p class="card-description">
            I find television very educating. Every time somebody turns on the
            set, I go into the other room and read a book.
          </p>
          <p class="card-sell-price not">
            <span>₹350</span><span class="card-cost-price">₹650</span
            ><span class="card-discount">50%off</span>
          </p>
        </div>
      </div>

      <div class="features not">
        <a class="link-read-more" href="#">Read</a>
        <a class="link-bookmark" href="#">Bookmark</a>
        <span>
          <i class="far fa-heart im"></i>
        </span>
        <span>
          <i class="fas fa-share-alt not"></i>
        </span>
        <span>
          <i class="fas fa-ellipsis-v"></i>
        </span>
      </div>
    </div>
  </body>
</html>
