@import url("/global.css");

body {
  font-family: var(--Lato_Font);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.im {
  margin-right: 5px;
}
.card {
  border: 1px solid var(--Secondary_Border_Color);
  position: relative;
  width: 220px;
  max-width: 100%;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.card-shadow {
  box-shadow: RGBA(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-horizontal {
  width: 30rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-responsive{
  max-width: 100%;
  height: auto;
}
.horizontal-card-image {
  width: 8rem;
}

.card-badge {
  font-size: 14px;
  padding: 5px;
  border-radius: 0 9px 9px 0;
  top: 5px;
  position: absolute;
  background-color: var(--Primary_Color);
  color: var(--Color_White);
}
.card-dismiss {
  position: absolute;
  top: 0;
  font-weight: 1;
  left: 90%;
  color: var(--Secondary_Color);
  font-size: 1.7rem;
}
.card-dismiss:hover {
  color: var(--Color_Danger_500);
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.card-title {
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
}
.card-description {
  padding: 0;
  color: var(--Secondary_Color);
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.card-sell-price {
  padding-top: 1rem;
}
.card-cost-price {
  margin-left: 5px;
  text-decoration: line-through;
  color: #9ca3af;
}
.card-discount {
  font-size: 13px;
  margin-left: 5px;
  opacity: 0.8;
  color: var(--Primary_Color);
}

.card-button-container{
  display: flex;
  flex-direction: column;
}
.card-button {
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
}

.is-cart,
.is-read {
  background-color: var(--Primary_Color);
  color: var(--Color_White);
}
.is-cart:hover,
.is-read:hover {
  background-color: var(--Primary_Hover_Color);
}
.is-wishlist {
  background-color: var(--Secondary_Color);
  color: var(--Color_White);
}
.is-wishlist:hover {
  background-color: var(--Secondary_Hover_Color);
}

.card-button span {
  margin-right: 10px;
}
.card-overlay {
  display: flex;
  flex-direction: column;
  opacity: 0.3;
}
.card-overlay-text {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--Color_Danger_500);
}
.text-overlay {
  font-size: 1.2rem;
  text-align: center;
}

.description-text {
  color: var(--Secondary_Color);
  font-size: 0.9rem;
}
.description-div p {
  padding: 1rem;
  margin: 0;
}

.features i {
  font-size: large;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}

.link-read-more,
.link-bookmark {
  padding: 0.5rem 1rem;
  align-self: center;
  color: var(--Black_Color);
  border-radius: 5px;
}

.favourite-div {
  position: absolute;
  text-align: center;
  top: 150px;
  left: 250px;
}
.favourite-div i {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.favourite-div i:hover {
  color: var(--Primary_Color);
}

.item-brand {
  font-weight: bold;
  margin: 0;
}
.item-name {
  margin: 0 0 1rem;
  font-size: 0.9rem;
  color: var(--Secondary_Color);
}
.favourite-icon {
  text-align: center;
}

.item-price {
  margin: 0;
  color: var(--Primary_Color);
}

.not {
  display: none;
}
