<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <title>Button Component</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="buttons.css" />
    <link rel="stylesheet" href="/CSS/global.css" />
  </head>
  <body>
    <!-- || Link Buttons -->
    <div class="link-main">
      <p>Link Button</p>
      <a href="#" class="btn is-solid">Primary-Link</a>
      <a href="#" class="btn is-outline">Primary-Outline</a>
      <a href="#" class="btn is-icon">
        <span>
          <i class="fas fa-shopping-cart"></i>
        </span>
      </a>
      <a href="#" class="btn is-icon-text">
        <span>
          <i class="fas fa-shopping-cart"></i>
          Add to cart
        </span>
      </a>
    </div>

    <!-- || Icon Buttons -->
    <div class="icon-main">
      <p>Icon Buttons</p>
      <button class="btn is-icon">
        <span>
          <i class="fas fa-shopping-cart"></i>
        </span>
      </button>
      <button class="btn is-icon">
        <span>
          <i class="fas fa-bookmark"></i>
        </span>
      </button>
      <button class="btn is-icon">
        <span>
          <i class="fas fa-cog"></i>
        </span>
      </button>
    </div>

    <!-- || Floating Icon Buttons -->
    <div class="float-button-main">
      <p>floating buttons</p>
      <div>
        <a href="#" class="btn float-button add-float-button">
          <i class="fas fa-plus"></i>
        </a>
        <a href="#" class="btn float-button edit-float-button">
          <span>
            <i class="fas fa-pen"></i>
          </span>
        </a>
        <a href="#" class="btn float-button message-float-button">
          <span>
            <i class="fas fa-comment"></i>
          </span>
        </a>
      </div>
    </div>

    <!-- || Solid Buttons -->
    <div class="solid-main">
      <p>Solid buttons</p>
      <button class="btn is-success">Success</button>
      <button class="btn is-secondary">Secondary</button>
      <button class="btn is-danger">Danger</button>
      <button class="btn is-warning">Warning</button>
      <button class="btn is-info">Info</button>
    </div>

    <!-- || Outline Buttons -->

    <div class="outlined-main">
      <p>Outlined buttons</p>
      <button class="btn is-success is-outlined">Success</button>
      <button class="btn is-secondary is-outlined">Secondary</button>
      <button class="btn is-danger is-outlined">Danger</button>
      <button class="btn is-warning is-outlined">Warning</button>
      <button class="btn is-info is-outlined">Info</button>
    </div>
  </body>
</html>
