<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar Component</title>
    <link rel="stylesheet" href="avatar.css" />
  </head>
  <body>
    <!-- || Circular avatar -->
    <div class="avatar-container">
      <div>
        <img
          class="avatar avatar-lg circle-radius"
          src="/Images/ian-dooley-lg.jpg"
          alt="no preview available"
        />
      </div>
      <div>
        <img
          class="avatar avatar-md circle-radius"
          src="/Images/ian-dooley-lg.jpg"
          alt="no preview available"
        />
      </div>
      <div>
        <img
          class="avatar avatar-sm circle-radius"
          src="/Images/ian-dooley-lg.jpg"
          alt="no preview available"
        />
      </div>
    </div>

    <!-- || Square avatar container -->
    <div class="avatar-container">
      <div>
        <img
          class="avatar avatar-lg square-radius"
          src="/Images/ian-dooley-lg.jpg"
          alt="no preview available"
        />
      </div>
      <div>
        <img
          class="avatar avatar-md square-radius"
          src="/Images/ian-dooley-lg.jpg"
          alt="no preview available"
        />
      </div>
      <div>
        <img
          class="avatar avatar-sm square-radius"
          src="/Images/ian-dooley-lg.jpg"
          alt="no preview available"
        />
      </div>
    </div>

    <!-- Letter avatar -->
    <div class="avatar-container">
      <div class="avatar avatar-lg avatar-letter">
        <span class="first">G</span>
      </div>
      <div>
        <div class="avatar avatar-md avatar-letter">
          <span class="second">G</span>
        </div>
      </div>
      <div>
        <div class="avatar avatar-sm avatar-letter">
          <span class="third">G</span>
        </div>
      </div>
    </div>

    <!-- Square letter avatar -->
    <div class="avatar-container">
      <div class="avatar avatar-lg avatar-letter square-radius">
        <span class="first">G</span>
      </div>
      <div>
        <div class="avatar avatar-md avatar-letter square-radius">
          <span class="second">G</span>
        </div>
      </div>
      <div>
        <div class="avatar avatar-sm avatar-letter square-radius">
          <span class="third">G</span>
        </div>
      </div>
    </div>
  </body>
</html>
