<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="toast.css" />
    <link rel="stylesheet" href="/CSS/global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Toast component</title>
  </head>
  <body>
    <!-- || Success toast -->
    <div class="toast toast-success">
      <p>Hurray! Successfully logged in</p>
      <i class="fas fa-times close-icon"></i>
    </div>

    <!-- || Warning Toast -->
    <div class="toast toast-warning">
      <p>Oops! password is too weak</p>
      <i class="fas fa-times close-icon"></i>
    </div>
    <!-- || Danger Toast -->
    <div class="toast toast-danger">
      <p>Sorry! Email is not registered yet.</p>
      <i class="fas fa-times close-icon"></i>
    </div>
  </body>
</html>
