<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="navigation.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Navigation Component</title>
  </head>
  <body>
    <nav class="navigation">
      <span class="hamburger-icon">
        <i class="fas fa-bars"></i>
      </span>
      <div class="nav-left-section">
        <img
          src="/Images/readlogo.png"
          class="logo"
          alt="no preview available"
        />
        <a href="#" class="login-link"><span>Login</span></a>
      </div>
      <div class="search-icon">
        <i class="fas fa-search"></i>
      </div>
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input class="search-input" type="text" placeholder="Search book..." />
      </div>
      <div class="nav-right-section">
        <ul class="secondary-list">
          <li class="favorites-list-item">
            <span>
              <i class="fas fa-heart"></i>
            </span>
          </li>
          <li class="cart-list-item">
            <span>
              <i class="fas fa-shopping-cart"></i>
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
