<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar with badge</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="badge.css" />
  </head>
  <body>
    <!-- || Badges on Icons -->
    <div class="avatar-container">
      <div class="profile-area">
        <img
          class="avatar avatar-lg"
          src="/images/mike-baker.jpg"
          alt="no preview available"
        />
        <span class="avatar-badge badge-lg"></span>
      </div>
      <div class="profile-area">
        <img
          class="avatar avatar-md"
          src="/images/mike-baker.jpg"
          alt="no preview available"
        />
        <span class="avatar-badge badge-md"></span>
      </div>
      <div class="profile-area">
        <img
          class="avatar avatar-sm"
          src="/images/mike-baker.jpg"
          alt="no preview available"
        />
        <span class="avatar-badge badge-sm"></span>
      </div>
      <div class="profile-area">
        <img
          class="avatar avatar-lt"
          src="/images/mike-baker.jpg"
          alt="no preview available"
        />
        <span class="avatar-badge badge-lt"></span>
      </div>
    </div>

    <!-- || Badges on Icons -->
    <div class="icon-container">
      <div class="icon-area">
        <span class="material-icons-outlined icon"> shopping_cart </span>
        <span class="badge first">5</span>
      </div>
      <div class="icon-area">
        <span class="material-icons-outlined icon"> notifications </span>
        <span class="badge second">7</span>
      </div>
      <div class="icon-area">
        <span class="material-icons-outlined icon"> mail </span>
        <span class="badge third">9</span>
      </div>
    </div>
  </body>
</html>
