.avatar-container,
.icon-container {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-area,
.icon-area {
  position: relative;
  margin-left: 1rem;
}
.avatar {
  object-position: right;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}
.avatar-lg {
  height: 8rem;
  width: 8rem;
}
.avatar-md {
  height: 5rem;
  width: 5rem;
}
.avatar-sm {
  height: 3rem;
  width: 3rem;
}
.avatar-lt {
  height: 2rem;
  width: 2rem;
}

.avatar-badge {
  position: absolute;
  display: inline-block;
  border: 2px solid var(--Color_White);
  border-radius: 50%;
}
.badge-lg {
  width: 1.5rem;
  height: 1.5rem;
  bottom: 8%;
  right: 8%;
  background-color: var(--Color_Success_500);
}
.badge-md {
  width: 1rem;
  height: 1rem;
  bottom: 8%;
  right: 8%;
  background-color: var(--Color_Warn_500);
}
.badge-sm {
  width: .5rem;
  height: .5rem;
  bottom: 6%;
  right: 6%;
  background-color: var(--Color_Danger_500);
}
.badge-lt {
  width: .2rem;
  height: .2rem;
  bottom: 10%;
  right: 3%;
  background-color: var(--Color_Black);
}

/* Icon badge */
.icon {
  font-size: 3rem;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.8;
}
.badge {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: var(--Color_White);
  position: absolute;
  background-color: var(--Color_Danger_500);
}
.first {
  bottom: 60%;
  left: 70%;
}
.second {
  bottom: 60%;
  left: 60%;
}
.third {
  bottom: 60%;
  left: 70%;
}
