<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="alert.css" />
    <link rel="stylesheet" href="/global.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Alert Component</title>
  </head>
  <body>
    <div class="simple-alert exp-border">
      <p>Simple alerts</p>
      <div class="alert is-alert-info">
        <p>Simple information alert - check it out</p>
      </div>
      <div class="alert is-alert-secondary">
        <p>Simple secondary alert - check it out</p>
      </div>
      <div class="alert is-alert-success">
        <p>Simple success alert - check it out</p>
      </div>
      <div class="alert is-alert-danger">
        <p>Simple danger alert - check it out</p>
      </div>
      <div class="alert is-alert-warning">
        <p>Simple warning alert - check it out</p>
      </div>
    </div>

    <div class="link-alert">
      <p>Link alerts</p>
      <div class="alert is-alert-info">
        <p>
          Information alert with link -
          <a href="#" class="alert-link">check it out</a>
        </p>
      </div>
      <div class="alert is-alert-secondary">
        <p>
          Secondary alert with link -
          <a href="#" class="alert-link">check it out</a>
        </p>
      </div>
      <div class="alert is-alert-success">
        <p>
          Success alert with link -
          <a href="#" class="alert-link">check it out</a>
        </p>
      </div>
      <div class="alert is-alert-danger">
        <p>
          Danger alert with link -
          <a href="#" class="alert-link">check it out</a>
        </p>
      </div>
      <div class="alert is-alert-warning">
        <p>
          Warning alert with link -
          <a href="#" class="alert-link">check it out</a>
        </p>
      </div>
    </div>

    <div class="icon-alert">
      <p>Icon alerts</p>
      <div class="alert is-alert-info">
        <span class="alert-icon">
          <i class="fas fa-question-circle"></i>
        </span>
        <p>Simple information alert - check it out</p>
      </div>
      <div class="alert is-alert-success">
        <span class="alert-icon">
          <i class="fas fa-check-circle"></i>
        </span>
        <p>Simple success alert - check it out</p>
      </div>
      <div class="alert is-alert-danger">
        <span class="alert-icon">
          <i class="fas fa-times-circle"></i>
        </span>
        <p>Simple danger alert - check it out</p>
      </div>
      <div class="alert is-alert-warning">
        <span class="alert-icon">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p>Simple warning alert - check it out</p>
      </div>
    </div>
  </body>
</html>
