@import url("/CSS/global.css");

body {
  font-family: "Lato", sans-serif;
  scrollbar-color: var(--Secondary_Color) var(--Color_White);
}
.highlight {
  color: var(--Primary_Color);
}
/* \\ Main container */
.main-container {
  display: flex;
}
.main-component-container {
  scroll-behavior: smooth;
  padding: 1rem 0;
  scrollbar-color: var(--Secondary_Color) var(--Color_White);
  overflow: scroll;
  width: 100%;
  height: calc(100vh - 100px);
}

/* || Navigation bar*/

.bars-icon {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

.nav-brand {
  cursor: pointer;
  color: var(--Primary_Color);
  font-size: 1.5rem;
  font-family: "Righteous", cursive;
}
.nav-item {
  cursor: pointer;
  color: var(--Primary_Color);
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  margin-right: 1rem;
}
.nav-item a {
  color: var(--Primary_Color);
}
.nav-item a:hover {
  color: var(--Secondary_Color);
}
.nav-list {
  list-style: none;
}
.nav-list li {
  display: inline-block;
}

/* Sidebar css */
.sidebar-component {
  height: calc(100vh - 68px);
  overflow-y: scroll;
  scrollbar-color: var(--Primary_Disabled_Color) var(--Color_White);
  border-right: 2px solid var(--Primary_Disabled_Color);
}

.component-list {
  height: 80%;
  list-style: none;
  position: fixed;
  top: 68px;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  background-color: var(--Color_White);
}

.component-list h3{
  color: var(--Primary_Color);
  margin-left: 3rem;
  padding: 0;
}

.sidebar-section-heading {
  margin: 1rem 0;
  padding: 0 1rem;
  word-wrap: break-word;
  text-align: center;
  font-size: 1.2rem;
  color: var(--Primary_Color);
}

.sidebar-component-list {
  padding: 0;
}
.component-item {
  box-sizing: border-box;
  cursor: pointer;
  display: list-item;
}
.component-item a {
  display: block;
  padding: 10px 6rem 10px 4rem;
}
.component-item:hover {
  background-color: var(--Primary_Disabled_Color);
}
.output-container {
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid var(--Primary_Disabled_Color);
}
.gray-text {
  color: var(--Secondary_Color);
}

@media (max-width: 650px) {
  .sidebar-component {
    display: none;
  }
  .bars-icon {
    display: block;
  }
}
