@import url("/CSS/global.css");

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.highlight {
  color: var(--Primary_Color);
}
/* \\ Main container */
.main-container {
  display: flex;
}
.main-component-container {
  scroll-behavior: smooth;
  padding: 1rem 0;
  height: calc(100vh - 68px);
  overflow: scroll;
  width: 100%;
}
/* || Navigation bar*/
.navigation-bar {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--Primary_Disabled_Color);
}
.nav-brand {
  cursor: pointer;
  color: var(--Primary_Color);
  font-size: 1.5rem;
  font-family: "Righteous", cursive;
}
.nav-item {
  cursor: pointer;
  color: var(--Primary_Color);
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  margin-right: 1rem;
}
.nav-item a {
  color: var(--Primary_Color);
}
.nav-item a:hover {
  color: var(--Secondary_Color);
}
.nav-list{
  list-style: none;
}
.nav-list li{
  display: inline-block;
}

/* Sidebar css */
.sidebar-component {
  height: calc(100vh - 68px);
  overflow-y: scroll;
  scrollbar-color: var(--Secondary_Color) #fff;
  border-right: 2px solid var(--Primary_Disabled_Color);
}
.sidebar-section-heading {
  margin: 1rem 0;
  padding:0 1rem;
  font-size: 1.2rem;
  color: var(--Primary_Color);
}

.sidebar-component-list{
  padding: 0;
}
.component-item {
  box-sizing: border-box;
  cursor: pointer;
  display: list-item;
}
.component-item a{
  display: block;
  padding: 10px 6rem 10px 3rem;
}
.component-item:hover {
  background-color: var(--Primary_Disabled_Color);
}
.mt{
  margin-top: 1rem;
}

@media screen and (max-width: 582px) {
  .sidebar-component {
    display: none;
  }
}
